{%extends 'fashion/index.html' %}
{%load static%}
{%block content%}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="{%url 'inicio:inicio' %}"><i class="fa fa-home"></i> Inicio</a>
                    <span>Registro</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Registro</h2>
                    <form action="#" method="post">
                        {% csrf_token %}
                        {%for field in form%}
                            <div class="group-input">
                                {{field.label_tag}}
                                {{field}}
                            </div>
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {%endfor%}
                        <button type="submit" class="site-btn register-btn">REGISTRATE</button>
                    </form>
                    <div class="switch-login">
                        <a href="{%url 'usuarios:login' %}" class="or-login">O Ingresa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
{%endblock%}