{% load static %}
{% load i18n static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>{%block  title%}Luly Shop :: Inicio{%endblock%}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{%static 'smart_shop/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- pignose css -->
<link href="{%static 'smart_shop/css/pignose.layerslider.css' %}" rel="stylesheet" type="text/css" media="all" />


<!-- //pignose css -->
<link href="{%static 'smart_shop/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{%static 'smart_shop/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
	<script src="{%static 'smart_shop/js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="{%static 'smart_shop/js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="{%static 'smart_shop/js/jquery.easing.min.js' %}"></script>
{%block extra_head%}
{%endblock%}
</head>
<body>
<!-- header -->
{% include 'smart_shop/header.html' %}
<!-- //header -->
<!-- header-bot -->
{% include 'smart_shop/header_bot.html' %}
<!-- //header-bot -->
<!-- banner -->
{% include 'smart_shop/banner_top.html' %}
<!-- //banner-top -->
<div class="container">
	{%block content %}
		<!-- banner -->
		{% include 'smart_shop/banner.html' %}
		<!-- //banner -->
		<!-- content -->
		{% include 'smart_shop/nuevos_arribos.html' %}
		<!-- //content -->

		<!-- content-bottom -->
		{% include 'smart_shop/contenido_abajo.html' %}
		<!-- //content-bottom -->
		<!-- product-nav -->
		{% include 'smart_shop/navegacion_producto.html' %}

		<!-- //product-nav -->
		{% include 'smart_shop/cupones.html' %}
	{%endblock%}
</div>
<!-- footer -->
{% include 'smart_shop/pie_pagina.html' %}
<!-- //footer -->
<!-- login -->
{%include 'smart_shop/login.html'%}
<!-- //login -->
</body>
</html>
