{% load static %}
<div class="col-md-4 product-men">

    <div class="men-pro-item simpleCart_shelfItem">
        <div class="men-thumb-item">
            {%if a.imagen%}
                <img src="{{a.imagen.url}}" alt="" class="pro-image-front">
                <img src="{{a.imagen.url}}" alt="" class="pro-image-back">
            {%elif a.get_principal_image%}
                <img src="{{a.get_principal_image}}" alt="" class="pro-image-front">
                <img src="{{a.get_principal_image}}" alt="" class="pro-image-back">
            {%else%}
                <img src="{%get_media_prefix%}articulos/noimage.jpg" alt="" class="pro-image-front">
                <img src="{%get_media_prefix%}articulos/noimage.jpg" alt="" class="pro-image-back">
            {%endif%}
            <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                    <a href="{{a.get_absolute_url}}" class="link-product-add-cart">Vista rápida</a>
                </div>
            </div>
            <span class="product-new-top">Nuevo</span>
        </div>
        <div class="item-info-product ">
            <h4><a href="single.html">{{a.nombre}}</a></h4>
            <div class="info-product-price">
                <span class="item_price">${{a.preciopub}}</span>
                <del>${{a.get_price_increment}}</del>
            </div>
            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                    <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                        <input type="hidden" name="amount" value="30.99" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Agregar Carrito" class="button" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>