{% extends "elite_shoppy/index.html" %}
{% load static %}
{%block title%}{{articulo.nombre}}{%endblock%}
{%block keywords%}{{articulo.nombre}}{%endblock%}
{%block extrahead%}
    <link rel="stylesheet" href="{%static 'elite_shoppy/css/flexslider.css' %}" type="text/css" media="screen" />
    <link href="{%static 'elite_shoppy/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
{%endblock%}
{%block content%}
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Articulo <span>{{articulo.nombre}} </span></h3>
        <!--/w3_short-->
             <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                   <ul class="w3_short">
                        <li><a href="{%url 'inicio:inicio' %}">Inicio</a><i>|</i></li>
                        <li>{{articulo.nombre}}</li>
                    </ul>
                 </div>
            </div>
   <!--//w3_short-->
    </div>
</div>
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
	     <div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					<ul class="slides">
                        {%for img in articulo.imagenarticulo_set.all%}
                            {%if img.imagen%}
                                <li data-thumb="{%static 'elite_shoppy/images/d2.jpg' %}">
                                    <div class="thumb-image"> <img src="{{img.imagen.url}}" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            {%endif%}
                        {%endfor%}
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>{{articulo.nombre}}</h3>
            <p><span class="item_price">${{articulo.preciopub}}</span> <del>- ${{articulo.get_price_increment}}</del></p>
					<div class="rating1">

					</div>
					<div class="description">
                        {{articulo.idgrupo.nombre}}
					</div>
                    <form action="{% url 'cart:cart_add' articulo.idarticulo %}" method="post">
                        {% csrf_token %}
                        {{cart_product_form.size}}
                        {{cart_product_form.color}}
					<div class="color-quality">
						<div class="color-quality-right">
							<h5>Cantidad :</h5>
                            {{cart_product_form.quantity}}
						</div>
					</div>
					<div class="occasional">
						<h5>Color :</h5>
                        {%for c in colores%}
                            <div class="colr ert">
                                <label class="radio"><input type="radio" name="radio" id="{{c.id.color}}" checked=""><i></i>{{c.nombre}}</label>
                            </div>
                        {%endfor%}
						<div class="clearfix"> </div>
					</div>
                        {{cart_product_form.update}}
                        <input type="submit" name="submit" value="Agregar Carrito" class="button" />
                    </form>
					<ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                       <li class="share">Comparti : </li>
                        <li><a href="#" class="facebook">
                              <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="twitter">
                              <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="instagram">
                              <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="pinterest">
                              <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                    </ul>
		      </div>
	 			<div class="clearfix"> </div>
				<!-- /new_arrivals -->
	        <div class="responsive_tabs_agileits">
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li>Descripcion</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
					   <div class="tab1">
							<div class="single_page_agile_its_w3ls">
							  <h6>{{articulo.nombre}}</h6>
							   <p>{{articulo.descripcion}}</p>
							   <p class="w3ls_para"></p>
							</div>
						</div>
						<!--//tab_one-->
					</div>
				</div>
			</div>
	<!-- //new_arrivals -->
	  	<!--/slider_owl-->

			<div class="w3_agile_latest_arrivals">
			<h3 class="wthree_text_info">Te puede <span>Interesar</span></h3>
                {%for a in relacionados%}
                    <div class="col-md-3 product-men">
                        {%include 'elite_shoppy/productos/detalle-articulo-relacionado.html' %}
                    </div>
                {%endfor%}
    			<div class="clearfix"> </div>
					<!--//slider_owl-->
	        </div>
	   </div>
 </div>
<!--//single_page-->

{%endblock%}
{% block extrajs %}
<script src="{%static 'elite_shoppy/js/imagezoom.js' %}"></script>
<!-- single -->
<!-- script for responsive tabs -->
<script src="{%static 'elite_shoppy/js/easy-responsive-tabs.js' %}"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- FlexSlider -->
<script src="{%static 'elite_shoppy/js/jquery.flexslider.js' %}"></script>
<script>
// Can also be used with $(document).ready()
	$(window).load(function() {
		$('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
		});
	});
</script>
<!-- //FlexSlider-->
<!-- //script for responsive tabs -->
<!-- start-smoth-scrolling -->

{% endblock %}