{% load static %}
{% load mathfilters %}
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{{banner_1.imagen.url}}">
                    <h2>{{banner_1.nombre}}</h2>
                    <a href="#">Descubri mas</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Articulos</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {%for b in banner_1.detallesecciones_set.all%}
                    {%include 'fashion/productos/detalle_articulo.html' %}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>