{% load static %}
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li class="active">Ofertas</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {%for b in banner_2.detallesecciones_set.all%}
                    {%include 'fashion/productos/detalle_articulo.html'%}
                    {%endfor%}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{{banner_2.imagen.url}}">
                    <h2>{{banner_2.titulo}}</h2>
                    <a href="#">Descubri mas</a>
                </div>
            </div>
        </div>
    </div>
</section>