{% load static %}
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{{banner_1.imagen.url}}">
                    <h2>{{banner_1.nombre}}</h2>
                    <a href="#">Descubri mas</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Articulos</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {%for b in banner_1.detallesecciones_set.all%}
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{b.imagen.url}}" alt="">
                            <div class="sale">Venta</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">Vista Rapida</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">{{b.articulo.idgrupo.nombre}}</div>
                            <a href="{{b.articulo.get_absolute_url}}">
                                <h5>{{b.articulo.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{b.articulo.preciopub}}
                                <span>$35.00</span>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>