{% load static %}
<div class="benefit-items">
    <div class="row">
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="{%static 'fashion/img/icon-1.png' %}" alt="">
                </div>
                <div class="sb-text">
                    <h6>Envio sin cargo</h6>
                    <p>Todas las compras mayores $2500</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="{%static 'fashion/img/icon-2.png' %}" alt="">
                </div>
                <div class="sb-text">
                    <h6>Entrega en fecha</h6>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="{%static 'fashion/img/icon-1.png' %}" alt="">
                </div>
                <div class="sb-text">
                    <h6>Aceptamos</h6>
                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>
</div>