{% load static %}
<script>
function makeTimer() {
   var endTime=new Date({{ ofertas.finaliza|date:"U" }} * 1000);
    endTime = (Date.parse(endTime) / 1000);

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var timeLeft = endTime - now;

        var days = Math.floor(timeLeft / 86400);
        var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
        var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
        var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

        if (hours < "10") { hours = "0" + hours; }
        if (minutes < "10") { minutes = "0" + minutes; }
        if (seconds < "10") { seconds = "0" + seconds; }

        $("#days").html(days);
        $("#hours").html(hours);
        $("#minutes").html(minutes);
        $("#seconds").html(seconds);

}

setInterval(function() { makeTimer(); }, 1000);
</script>
<section class="deal-of-week set-bg spad" data-setbg="{{ofertas.imagen.url}}">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>{{ofertas.nombre}}</h2>
                <p>{{ofertas.descripcion}} </p>
                {%for a in ofertas.detallesecciones_set.all%}
                    <div class="product-price">
                        {{a.articulo.preciopub}}
                        <span>{{a.articulo.nombre}}</span>
                    </div>
                {%endfor%}
            </div>
            <div class="countdown-timer" >
                <div class="cd-item">
                    <span id="days"></span>
                    <p>Dias</p>
                </div>
                <div class="cd-item">
                    <span id="hours"></span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span id="minutes"></span>
                    <p>Min</p>
                </div>
                <div class="cd-item">
                    <span id="seconds"></span>
                    <p>Seg</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Compralo ahora</a>
        </div>
    </div>
</section>
