{% load static %}

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="{%url 'inicio:inicio' %}"><img src="{{logo}}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>
                            <a href="https://wa.me/{{whatsapp_link}}?text=Hola%20desearia%20saber%20el%20precio%20de">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>{{whatsapp}}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{email}}" ><i class=" fa fa-envelope"></i>
                                {{email}}</a>
                        </li>
                    </ul>
                    <div class="footer-social">
                        <a href="{{fb_url}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="{{ig_url}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Informacion</h5>
                    <ul>
                        <li><a href="#">Acerca de...</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Servicios</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Mi Cuenta</h5>
                    <ul>
                        <li><a href="#">Mi Cuenta</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Carrito de Compras</a></li>
                        <li><a href="#">Comprar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Suscribite hoy</h5>
                    <p>Obtene en tu email las mejores ofertas y contenidos.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Ingresa tu correo">
                        <button type="button">Suscribime</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                        This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        Desarrollado por <a href="http://www.servinlgsm.com.ar">Servin LGSM</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>