{% load static %}
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <a href="mailto:{{email}}" ><i class=" fa fa-envelope"></i>
                        {{email}}</a>
                </div>
                <div class="phone-service">
                    <a href="https://wa.me/{{whatsapp_link}}?text=Hola%20">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>{{whatsapp}}
                    </a>
                </div>
            </div>
            <div class="ht-right">
                <a href="{%url 'inicio:login_propio' %}" class="login-panel"><i class="fa fa-user"></i>Ingresar</a>
                <div class="top-social">
                    <a href="{{fb_url}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="{{ig_url}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="{% url 'inicio:inicio' %}">
                            <img src="{{logo}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">Categorias</button>
                        <div class="input-group">
                            <input type="text" placeholder="Que necesitas?">
                            <button type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="icon_heart_alt"></i>
                                <span>1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="si-pic"><img src="{%static 'fashion/img/select-product-1.jpg' %}" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="si-pic"><img src="{%static 'fashion/img/select-product-2.jpg' %}" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>$120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="#" class="primary-btn view-card">Ver Carrito</a>
                                    <a href="#" class="primary-btn checkout-btn">Pagar</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">$150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>Todo</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Ropa Mujer</a></li>
                        <li><a href="#">Ropa Hombre</a></li>
                        <li><a href="#">Underwear</a></li>
                        <li><a href="#">Kid's Clothing</a></li>
                        <li><a href="#">Brand Fashion</a></li>
                        <li><a href="#">Accessories/Shoes</a></li>
                        <li><a href="#">Luxury Brands</a></li>
                        <li><a href="#">Brand Outdoor Apparel</a></li>
                    </ul>
                </div>
            </div>
            {%include 'fashion/navbar.html' %}
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>