{% load static %}
<section class="hero-section">
    <div class="hero-items owl-carousel">
        {% for h in hero.detallesecciones_set.all %}
            {%if h.imagen%}
                <div class="single-hero-items set-bg" data-setbg="{{h.imagen.url}}">
            {%elif h.articulo.get_principal_image%}
                <div class="single-hero-items set-bg" data-setbg="{{b.articulo.get_principal_image}}">
            {%else%}
                <div class="single-hero-items set-bg" data-setbg="{%get_media_prefix%}articulos/noimage.jpg">
            {%endif%}
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span></span>
                        <h1>{{h.titulo}}</h1>
                        <p>{{h.detalle}}</p>
                        <a href="#" class="primary-btn">Compra Ahora</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Compra <span>Hoy</span></h2>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>