{% load static %}
{% load i18n static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Luly Shop">
    <meta name="keywords" content="Luly Deportes Shop OnLine Ecommerce Puerto Rico Misiones Chombas Remeras Camisas {%block keywords%}{%endblock%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luly Shop :: {% block title %}Inicio{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'fashion/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'fashion/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    {%include 'fashion/header.html' %}
    <!-- Header End -->
    {%block content%}

    <!-- Hero Section Begin -->
    {%include 'fashion/hero.html' %}
        <!-- Hero Section End -->

        <!-- Banner Section Begin -->
    <!--    {%include 'fashion/banner.html' %}-->
        <!-- Banner Section End -->

        <!-- Women Banner Section Begin -->
        {%include 'fashion/banner_section_1.html' %}
        <!-- Women Banner Section End -->

        <!-- Deal Of The Week Section Begin-->
        {%include 'fashion/deal_section.html' %}
        <!-- Deal Of The Week Section End -->

        <!-- Man Banner Section Begin -->
        {%include 'fashion/banner_section_2.html' %}
        <!-- Man Banner Section End -->

        <!-- Instagram Section Begin -->
        {%include 'fashion/banner_section_3.html' %}
        <!-- Instagram Section End -->

        <!-- Latest Blog Section Begin -->
        {%include 'fashion/blog.html' %}

        <!-- Latest Blog Section End -->
    {%endblock%}
    <!-- Partner Logo Section Begin -->
    {% include 'fashion/partner_logo.html' %}
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    {% include 'fashion/footer.html' %}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{%static 'fashion/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'fashion/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery-ui.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery.countdown.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery.nice-select.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery.zoom.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery.dd.min.js' %}"></script>
    <script src="{%static 'fashion/js/jquery.slicknav.js' %}"></script>
    <script src="{%static 'fashion/js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'fashion/js/main.js' %}"></script>
</body>

</html>