{% load static %}
    <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{%static 'elite_shoppy/images/bottom1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>L</span>uly Deportes</h3>
								<p>Nuevos Arribos</p>
							</figcaption>
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{%static 'elite_shoppy/images/bottom2.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>L</span>uly Deportes</h3>
								<p>Nuevos Arribos</p>
							</figcaption>
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div>
		 </div>
    </div>