{% load static %}
<div class="header" id="home">
	<div class="container">
		<ul>
		    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Ingresa </a></li>
			<li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrate </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i>
                <a href="https://wa.me/{{whatsapp_link}}?text=Hola%20desearia%20saber%20el%20precio%20de">{{whatsapp}}</a></li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="{{email}}">{{email}}</a></li>
		</ul>
	</div>
</div>

{%include 'elite_shoppy/usuarios/login_modal.html' with form_usuario=form_usuario%}