{% load static %}
	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">Articulos <span>Nuevos</span></h3>
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li> Hombres</li>
							<li> Mujeres</li>
							<li> Deportiva</li>
							<li> Calzados</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
						<div class="tab1">
							{%for a in articulos_hombres%}
								{%include 'elite_shoppy/productos/detalle-articulo.html' %}
							{%endfor%}
							<div class="clearfix"></div>
						</div>
						<!--//tab_one-->
						<!--/tab_two-->
						<div class="tab2">
							{%for a in articulos_mujeres%}
								{%include 'elite_shoppy/productos/detalle-articulo.html' %}
							{%endfor%}
							<div class="clearfix"></div>
						</div>
					 <!--//tab_two-->
						<div class="tab3">
							{%for a in articulos_deportes%}
								{%include 'elite_shoppy/productos/detalle-articulo.html' %}
							{%endfor%}
							<div class="clearfix"></div>
						</div>
						<div class="tab4">
							{%for a in articulos_calzados%}
								{%include 'elite_shoppy/productos/detalle-articulo.html' %}
							{%endfor%}
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
