{% load static %}
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">Lo mas <span>Vendido</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="womens.html">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="{%static 'elite_shoppy/images/bb1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>R</span>ebajas </h3>
								<p>Hasta 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="mens.html">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="{%static 'elite_shoppy/images/bottom3.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>R</span>ebajas </h3>
								<p>Hasta 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href="mens.html">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="{%static 'elite_shoppy/images/bottom4.jpg' %}" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>R</span>ebajas </h3>
								<p>Hasta 65%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
<!--/grids-->
      <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="womens.html"><img src="{%static 'elite_shoppy/images/bot_1.jpg' %}" alt=" "><h4>Oferta <span>50%</span>Directo </h4></a>

			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="womens.html"><img src="{%static 'elite_shoppy/images/bot_2.jpg' %}" alt=" "><h4>Oferta <span>50%</span>Directo </h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>
<!--/grids-->