{% load static %}
<div class="product-item">
    <a href="{{b.get_absolute_url}}">
        <div class="pi-pic">
            {%if b.imagen%}
                <img src="{{b.imagen.url}}" alt="">
            {%elif b.articulo.get_principal_image%}
                <img src="{{b.articulo.get_principal_image}}" alt="{{b.articulo.nombre}}">
            {%else%}
                <img src="{%get_media_prefix%}articulos/noimage.jpg" alt="{{b.articulo.nombre}}">
            {%endif%}
            <div class="sale"></div>
            <div class="icon">
                {%with user_fav=b.favoritos.all %}
                    {% if request.user not in user_fav %}
                        <i class="far fa-heart"></i>
                    {% else %}
                        <i class="fas fa-heart"></i>
                    {% endif %}
                {%endwith%}
            </div>
            <ul>
                <li class="quick-view"><a href="{{b.get_absolute_url}}">Ver Producto</a></li>
            </ul>
        </div>
        <div class="pi-text">
            <div class="catagory-name">{{b.idgrupo.nombre}}</div>
            <h5>{{b.nombre}}</h5>
            <div class="product-price">
                {{b.preciopub}}
                <span>${{b.get_price_increment}}</span>
                <a href="{{url_consulta_wsp}} {{b.nombre}}" class="btn btn-success">
                    Mas info... <i class="fa fa-whatsapp my-float"></i></a>
            </div>
        </div>
    </a>
</div>