{% load static %}
<div class="product-item">
    <div class="pi-pic">
        {%if b.imagen%}
            <img src="{{b.imagen.url}}" alt="">
        {%else%}
            <img src="{{b.get_principal_image}}" alt="{{b.nombre}}">
        {%endif%}
        <div class="sale"></div>
        <div class="icon">
            <i class="icon_heart_alt"></i>
        </div>
        <ul>
            <li class="w-icon active"><a href="{{b.get_absolute_url}}"><i class="icon_bag_alt"></i></a></li>
            <li class="quick-view"><a href="{{b.get_absolute_url}}">Vista Rapida</a></li>
            <li class="w-icon"><a href="{{b.get_absolute_url}}"><i class="fa fa-random"></i></a></li>
        </ul>
    </div>
    <div class="pi-text">
        <div class="catagory-name">{{b.idgrupo.nombre}}</div>
        <a href="{{b.get_absolute_url}}">
            <h5>{{b.nombre}}</h5>
        </a>
        <div class="product-price">
            {%if user.is_authenticated%}
                {{b.preciopub}}
                <span>${{b.get_price_increment}}</span>
            {%else%}
            <a href="{{url_consulta_wsp}} {{b.nombre}}" class="btn btn-success">
                Precio <i class="fa fa-whatsapp my-float"></i></a>
            {%endif%}
        </div>
    </div>
</div>