{% extends "fashion/index.html" %}
{% load static %}
{%block title%}{{articulo.nombre}}{%endblock%}
{%block keywords%}{{articulo.nombre}}{%endblock%}
{%block content%}
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                {%include 'fashion/productos/filter_widget.html' %}
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="{{articulo.get_principal_image}}" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    {%for img in articulo.imagenarticulo_set.all%}
                                        {%if img.imagen%}
                                            <div class="pt active" data-imgbigurl="{{img.imagen.url}}"><img
                                                    src="{{img.imagen.url}}" alt=""></div>
                                        {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>{{articulo.idgrupo.nombre}}</span>
                                    <h3>{{articulo.nombre}}</h3>
                                    {%with user_fav=articulo.favoritos.all %}
                                        <a href="#" class="heart-icon like"  data-id="{{ articulo.idarticulo }}"
                                           data-action="{% if request.user in user_fav %}un{% endif %}like">
                                            {% if request.user not in user_fav %}
                                                <i class="fa fa-heart-o like" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-heart like" aria-hidden="true"></i>
                                            {% endif %}
                                    </a>
                                    {%endwith%}
                                </div>
                                <div class="pd-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="pd-desc">
                                    <p>{{articulo.descripcion}}</p>
                                    <h4>${{articulo.preciopub}} <span>{{articulo.get_price_increment}}</span></h4>
                                </div>
                                <div class="pd-color">
                                    <h6>Color</h6>
                                    <div class="pd-color-choose">
                                        {%for c in colores%}
                                            <div class="cc-item" style="background-color:black;">
                                                <input type="radio" id="{{c.idcolor}}">
                                                <label for="{{c.idcolor}}" style="background-color:{{c.color_web}};"></label>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="pd-size-choose">
                                    <h6>Talle</h6>
                                    {%for t in talles%}
                                        <div class="sc-item">
                                            <input type="radio" id="{{t.idtalle}}" data-id="{{t.idtalle}}">
                                            <label for="{{t.idtalle}}">{{t}}</label>
                                        </div>
                                    {%endfor%}
                                </div>
                                <div class="quantity">
                                    <form action="{% url 'cart:cart_add' articulo.idarticulo %}" method="post">
                                        {% csrf_token %}
                                        {{cart_product_form.size}}
                                        {{cart_product_form.color}}
                                        <div class="pro-qty">
<!--                                            <input type="text" value="1">-->
                                            {{cart_product_form.quantity}}
                                        </div>
                                        {{cart_product_form.update}}
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <fieldset>
                                                <button type="submit" class="primary-btn pd-cart">Agregar</button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                                <ul class="pd-tags">
                                    <li><span>Categorias</span>: More Accessories, Wallets & Cases</li>
                                    <li><span>Etiquetas</span>: Clothing, T-shirt, Woman</li>
                                </ul>
                                <div class="pd-share">
                                    <div class="p-code">ID : {{articulo.idarticulo}}</div>
                                    <div class="pd-social">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-instagram"></i></a>
                                        <a href="#"><i class="ti-whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                especificaciones articulo-->
<!--                fin especificaciones articulo-->
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Related Products Section End -->
    {%include 'fashion/productos/productos_relacionados.html' %}
    <!-- Related Products Section End -->

{%endblock%}
{% block domready %}
$('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "productos:favorito_articulo" %}',
        {
        idarticulo: $(this).data('id'),
        action: $(this).data('action')
        },
        function(data){
            if (data['status'] == 'ok'){
                var previous_action = $('a.like').data('action');
                var i_like = $('i.like');
                if (previous_action == 'like'){
                    i_like.removeClass('fa fa-heart like');
                    i_like.addClass('fa fa-heart-o like');
                }else{
                    i_like.removeClass('fa fa-heart-o like');
                    i_like.addClass('fa fa-heart like');
                }
                $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

            }
        }
    );
});
{% endblock %}